@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #050508;
}

.app-drag {
  -webkit-app-region: drag;
}

.app-drag * {
  -webkit-app-region: no-drag;
}
